* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: "open sans","sans-serif"; */
    font-family: Arial;
}

body {
    background-color: rgba(84, 84, 84, 255);
}

header {
    height: 100vh;
    width: 100%;

}

.navbar {
    height: 12vh;
    padding: 20px 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar img {
    width: 200px;

}

ul {
    /* width:780px; */
}

.navbar ul li {
    list-style: none;
    display: inline-block;

}

ul li a {
    padding: 10px 28px;
    text-decoration: none;
    color: white;
    font-size: 20px;
}

.row {
    width: 80%;
    margin: 30px auto;
    display: flex;
    text-align: left;
}

.col1 .col-text-p {
    margin: 20px 0px 20px 0;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .04em;
    line-height: 28px;
    color: white;
}

.gold-text {
    color: #d7c783;
    font-size: 90px;
    font-weight: 400;

}

p.lunch {
    margin: 32px 0px 32px 0px;
    color: red;
    font-size: 22px;
}

button {
    background-color: white;
    padding: 8px 24px;
    border: 1px solid black;
    font-size: 16px;
}

.col2 {
    flex: 1;
    padding: 30px 15px 0px 100px;


}

.col2 img {
    height:60vh;
    margin-left:20px;
    margin-top: 15px;
}

.menu {
    color: white;
    width: 80%;
    margin: auto;
}

.menu h1 {
    color: #d7c783;
    text-align: center;
    font-size: 64px;
    margin-bottom: 100px;
}

.items-menu {
    color: #d7c783;
    font-size: 23px;
    margin-bottom: 10px;

}

.items-include {
    font-size: 20px;
    text-align: left;
}

.menu-cards {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.price {
    font-size: 23px;
}

.items-price {
    display: flex;
    position: relative;
}

.items-price span {
    width: 90px;
    border-top: 1px solid #d7c783;
    ;
    position: absolute;
    right: 86px;
    top: 16px;
}

.menubtn {
    margin-top: 90px;
    width: 100%;
    text-align: center;
    margin-bottom: 90px;
}

.item {
    flex-basis: 25%;
    margin: 0px 15px;
    
}

.item img {
    width: 100%;
    height: 100%;
    height: 550px;
    object-fit: cover;
    display: block;

}


.about-us {
    margin-top: 80px;
}
.menu-head{
    text-align: center;
    color:#d7c783;
    font-size: 60px;
    margin-top:100px;
}
.fa-spoon{
    color:#d7c783;
    transform: rotate(.13turn);
}
.about-us{
    text-align: right;
}



/* --------------------RESPONSIVENESS---------------------------------------------------------------- */
@media (max-width:1100px) {
    .row {
        flex-wrap: wrap;
        flex-direction: column;
    }

    .col2 img {
        margin-left: 0px;
        margin-top: 0px;
        display: block;
    }

    button {
        margin-bottom: 30px;
    }

    .col2 {
        padding: 0;
    }

}